- content_for :page_header_title, @process_trace
- if @process_trace.events_imported
  - content_for :page_header_text, @process_trace.long_name
- content_for :left_menu, render('left_menu', trace: @process_trace)

- content_for :main_header do
  %nav
    .nav-wrapper
      .col.s12
        = link_to 'Browse traces', app_traces_path, class: 'breadcrumb'
        = link_to "App trace #{@process_trace.app_trace.id}", app_trace_path(@process_trace.app_trace), class: 'breadcrumb'
        = link_to "Process trace #{@process_trace.id}", process_trace_path(@process_trace), class: 'breadcrumb'

- cache @process_trace do
  .content-with-left-menu
    .section{data: {section: 'Overview'}}
      = render 'shared/overview_head', trace: @process_trace
      = render 'shared/front_stats', analysable: @process_trace

      .card
        .card-content
          %span.card-title Trace details
          .row
            .col.s6
              = show_property("Created at", @process_trace.created_at.to_s(:long))
              = show_property("Process", @process_trace.name)
            .col.s6
              = show_property("#Sockets", number_with_delimiter(@process_trace.socket_traces_count, delimiter: '.'))
              = show_property("#Events", number_with_delimiter(@process_trace.events_count, delimiter: '.'))

    .section{data: {section: 'sockets'}, style: "display:none;"}
      %h5=pluralize(@process_trace.socket_traces_count, 'socket')
      %table
        %thead
          %th Socket index
          %th Type
          %th.right-align #Events
          %tr
        - @process_trace.socket_traces.order(:index).each_with_index do |socket_trace|
          %tr
            %td= socket_trace.index
            %td= socket_trace.socket_type
            %td.right-align= number_with_delimiter(socket_trace.events_count, delimiter: '.')
            %td.right-align= link_to('Show', socket_trace_path(socket_trace))

    = render 'shared/stats', stat_categories: @stat_categories, analysis: @analysis
