= content_for :page_header, 'List of datasets'

%h3 Datasets

= link_to 'New dataset', new_dataset_path

%table
  %tr
    %th
      Name
    %th
      Description

  - @datasets.each do |dataset|
    %tr
      %td= dataset.name
      %td= dataset.description
      %td= link_to 'Download', dataset.zip_file.url
      %td= link_to 'Show', dataset_path(dataset)
