= link_to 'Back to datasets', datasets_path

%h3
  New dataset

- if @dataset.errors.any?
  .errors
    %ul
      - @dataset.errors.full_messages.each do |msg|
        %li= msg

= form_for :dataset, url: datasets_path do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :description
    = f.text_area :description
  %p
    = f.submit





