- stat_data = stat.data(analysis)
.card.stat.grid-item
  .card-content
    %span.card-title= stat.pretty_name
    .content
      - if analysis.nil?
        .no-data Analysis is being computed...
      - elsif stat_data.nil?
        .no-data No data matching this analysis.
      - else
        - if stat.chart?
          = pie_chart(stat_data) if stat.pie_chart?
          = bar_chart(stat_data, height: stat.bar_chart_height(stat_data)) if stat.bar_chart?
          = column_chart(stat_data) if stat.column_chart?
          = column_chart(stat_data, max: 1) if stat.column_chart_pc?
          - if stat.line_chart?
            %div{id: "my_chart#{stat.id}"}
            :javascript
              Highcharts.chart("my_chart#{stat.id}", {
                series: #{stat.node_val_cdf? ? [{data: stat_data}].to_json : stat_data.to_json},
                xAxis: {type: "logarithmic", min: 1},
                yAxis: {max: 100},
                title: null,
                legend: {enabled: #{stat.node_val_cdf_for_filters?}},
                credits: false
              })
        - elsif stat.number?
          .number= number_with_delimiter(stat_data)

        - if stat.show_data?
          .data{style: 'display:none;'}
            %strong Data:
            %ul
              - sum = stat_data.map(&:last).sum if stat.data_summable?
              - stat_data.each do |key, val|
                %li
                  %span= key
                  %span.right
                    - if stat.data_summable?
                      %span.pc= stat.pc(val, sum)
                      %span.num= stat.data_point(val)
                    - else
                      = stat.data_point(val)
              - if stat.data_summable?
                %li
                  %span Total
                  %span.right= number_with_delimiter(stat_data.map(&:last).sum)
  .card-action
    = stat.description
    - if stat.show_data?
      %a.span.right.action More
      %a.span.right.action{style: 'display:none;'} Less
