- stat_data = stat.data(analysis)
.card.stat.grid-item
  .card-content
    %span.card-title
      = stat.pretty_name
    .content
      - if analysis.nil?
        .no-data
          Analysis is being computed...
      - elsif stat_data.nil?
        .no-data
          No data
      - else
        - if stat.count_by_group?
          = pie_chart stat_data
        - elsif stat.number?
          = stat_data
        - elsif stat.count_distinct_node_val_by_group?
          = bar_chart stat_data
        - elsif stat.node_val_cdf?
          = line_chart stat_data, max: 100, ytitle: "CDF", xtitle: stat.node, library: {xAxis: {type: 'linear'}}
        - elsif stat.sum_node_val_by_group? or stat.sum_node_val_for_filters?
          = column_chart stat_data
        - elsif stat.pc_true_for_nodes?
          = column_chart stat_data, max: 1
        .data{style: 'display:none;'}
          %strong
            Data:
          %ul
            - stat_data.each do |key, val|
              %li
                %span= key
                %span
                  - if stat.node_val_cdf?
                    = number_with_precision(val)
                  - else
                    = number_with_delimiter(val)
            - if stat.data_summable?
              %li
                %span Total
                %span= number_with_delimiter(stat_data.map(&:last).sum)

  .card-action
    = stat.description
    %a.span.right.action More
    %a.span.right.action{style: 'display:none;'} Less


