%tr
  %td= app_trace.app
  %td= app_trace.os.capitalize
  %td= app_trace.connectivity.humanize
  %td.right-align= number_with_delimiter(app_trace.process_traces_count, delimiter: '.')
  %td.right-align= number_with_delimiter(app_trace.socket_traces_count, delimiter: '.')
  %td.right-align= number_with_delimiter(app_trace.events_count, delimiter: '.')
  %td.right-align= app_trace.version
  %td.right-align= app_trace.created_at.to_s(:long)
  %td.right-align= link_to 'Show', app_trace_path(app_trace)

