= content_for :page_header, 'List of traces'

%h3 Traces

= link_to 'New trace', new_app_trace_path

%table
  %tr
    %th
      Description
    %th
      Workload
    %th
      Imported
    %th
      Stats computed
    %th
    %th
    %th
  - @app_traces.each do |app_trace|
    %tr
      %td= app_trace.description
      %td= app_trace.workload
      %td= app_trace.imported
      %td= app_trace.stats_computed
      %td= link_to 'Download', app_trace.archive.url
      %td= link_to 'Show', app_trace_path(app_trace)
      %td= link_to 'Delete', app_trace_path(app_trace), method: :delete, data: { confirm: 'Are you sure?' }
