- content_for :page_header_title, 'Browse traces'
- content_for :page_header_text, 'Browse available traces, filter by operating systems or application'
- content_for :main_header, render('shared/filters')

%h6
  #{@app_traces.count} traces found

%table
  %thead
    %tr
      %th App
      %th Os
      %th #Processes
      %th #Sockets
      %th #Events
      %th Version
      %th Created at
  - @app_traces.each do |app_trace|
    %tr
      %td= app_trace.app
      %td= app_trace.os.capitalize
      %td= number_with_delimiter(app_trace.process_traces_count, delimiter: '.')
      %td= number_with_delimiter(app_trace.socket_traces_count, delimiter: '.')
      %td= number_with_delimiter(app_trace.events_count, delimiter: '.')
      %td= app_trace.version
      %td= app_trace.created_at.to_formatted_s(:db)
      %td= link_to 'Show', app_trace_path(app_trace)

= will_paginate @app_traces, renderer: MaterializePagination::Rails
