- content_for :page_header_title, 'Upload trace'
- content_for :page_header_text, 'Contribute by uploading a trace archive'

= form_for :app_trace, url: app_traces_path do |f|
  .container
    .row
      .input-field
        = f.label :workload
        = f.text_field :workload
      .input-field
        = f.label :comments
        = f.text_field :comments
      .input-field
        = f.select(:connectivity, options_for_select(AppTrace.connectivities.keys.to_a), include_blank: '')
        = f.label :connectivity
      .input-field.file-field
        .btn.indigo.lighten-1
          %span Archive (.zip or .tar.gz)
          = f.file_field :archive
        .file-path-wrapper
          %input.file-path{type: 'text'}
      = f.submit 'Save', class: 'btn waves-effect waves-light right light-green'
