= link_to 'Back to traces', app_traces_path

%h3
  New app trace

- if @app_trace.errors.any?
  .errors
    %ul
      - @app_trace.errors.full_messages.each do |msg|
        %li= msg

= form_for :app_trace, url: app_traces_path do |f|
  %p
    = f.label :description
    = f.text_area :description
  %p
    = f.label :workload
    = f.text_area :workload
  %p
    = f.label :archive
    = f.file_field :archive
  %p
    = f.submit





