- content_for :left_menu, render('left_menu')

- content_for :main_header do 
  %nav
    .nav-wrapper
      .col.s12
        = link_to 'Browse traces', app_traces_path, class: 'breadcrumb'
        = link_to "App trace #{@app_trace.id}", app_trace_path(@app_trace), class: 'breadcrumb'

%p
  - [:id, :app, :cmd, :connectivity, :description, :imported, :kernel, :machine, :os, :stats_computed, :version, :workload, :created_at, :updated_at].each do |attr|
    = show_property(attr.to_s.humanize, @app_trace.send(attr))

  = show_property("Sockets opened", @app_trace.socket_traces.count)
  = show_property("Download", link_to("#{@app_trace.archive.file.filename}", @app_trace.archive.url))

%strong
  Socket traces:

%ul
  - @app_trace.socket_traces.each_with_index do |socket_trace, index|
    %li= link_to("Socket #{index} - #{socket_trace.socket_type}", socket_trace_path(socket_trace)) 


- if @app_trace.stats_computed
  - AppTraceStat::STATS.each do |stat|
    = render 'shared/stat', stat: stat, trace: @app_trace
