- content_for :page_header_title, "App trace ##{@app_trace.id}"
- if @app_trace.events_imported
  - content_for :page_header_text, @app_trace
- content_for :left_menu, render('shared/left_menu', trace: @app_trace)

- content_for :main_header do 
  %nav
    .nav-wrapper
      .col.s12
        = link_to 'Browse traces', app_traces_path, class: 'breadcrumb'
        = link_to "App trace #{@app_trace.id}", app_trace_path(@app_trace), class: 'breadcrumb'

.section{data: {section: 'about'}}
  %h5 About trace
  %p
    .row
      - [:id, :app, :cmd, :connectivity, :description, :events_count, :events_imported, :kernel, :machine, :os, :analysis_computed, :version, :workload, :created_at, :updated_at].each do |attr|
        = show_property(attr.to_s.humanize, @app_trace.send(attr))

      = show_property("Processes swpaned", @app_trace.process_traces.count)
      = show_property("Sockets opened","TODO")
      = show_property("Download", link_to("#{@app_trace.archive.file.filename}", @app_trace.archive.url))

.section{data: {section: 'about'}}
  %h5 Processes
  %p
    #{@app_trace.process_traces_count} processes spawned:
  %table
    %thead
      %th Process
      %th Sockets count
      %th Events count
    - @app_trace.process_traces.each do |process_trace|
      %tr
        %td= process_trace.name
        %td= process_trace.socket_traces_count
        %td= process_trace.events_count
        %td= link_to('Show', process_trace_path(process_trace)) 

- if @app_trace.analysis_computed
  - AppTrace.stats.each do |stat|
    = render 'shared/stat', stat: stat, trace: @app_trace
