= link_to 'Back to app traces', app_traces_path

%p
  %strong
    Description:
  = @app_trace.description
  %br

  %strong
    Creation date:
  = @app_trace.created_at.to_date

  %br
  %strong
    Download:
  = link_to 'Download', @app_trace.archive.url

- AppTraceStat::STATS.each do |stat|
  %p
    %strong
      = stat.to_s.humanize
    - if @app_trace.stat
      = pie_chart @app_trace.stat.send(stat)
