= link_to 'Back to app traces', app_traces_path

%p
  %strong
    Description:
  = @app_trace.description
  %br

  %strong
    Creation date:
  = @app_trace.created_at.to_date

  %br
  %strong
    Download:
  = link_to 'Download', @app_trace.archive.url


- if @app_trace.stats_computed
  - AppTraceStat::STATS.each do |stat|
    %p
    %strong
      = stat.name
      = pie_chart @app_trace.stat.send(stat.db_name)
