- content_for :page_header_title, "App trace ##{@app_trace.id}"
- if @app_trace.events_imported
  - content_for :page_header_text, @app_trace
- content_for :left_menu, render('shared/left_menu', trace: @app_trace)

- content_for :main_header do
  %nav
    .nav-wrapper
      .col.s12
        = link_to 'Browse traces', app_traces_path, class: 'breadcrumb'
        = link_to "App trace #{@app_trace.id}", app_trace_path(@app_trace), class: 'breadcrumb'

.section{data: {section: 'about'}}
  %h5 General
  .row
    .col.s6
      = show_property("Id", @app_trace.id)
      = show_property("Application", @app_trace.app)
      = show_property("Command", @app_trace.cmd)
      = show_property("Os", @app_trace.os)
      = show_property("Connectivity", @app_trace.connectivity)
    .col.s6
      = show_property("Created at", @app_trace.created_at)
      = show_property("Archive imported", @app_trace.events_imported)
      = show_property("Analysis computed", @app_trace.analysis_computed)
      = show_property("#Processes", number_with_delimiter(@app_trace.process_traces_count, delimiter: '.'))
      = show_property("#Sockets", number_with_delimiter(@app_trace.socket_traces_count, delimiter: '.'))
      = show_property("#Events", number_with_delimiter(@app_trace.events_count, delimiter: '.'))
    .col.s12
      = show_property_xl("Workload", @app_trace.workload)
      = show_property_xl("Comments", @app_trace.comments)

  = render 'shared/front_stats', trace: @app_trace

  %h5=pluralize(@app_trace.process_traces_count, 'process')
  %table
    %thead
      %th Process
      %th.right-align #Sockets
      %th.right-align #Events
      %th
    - @app_trace.process_traces.each do |process_trace|
      %tr
        %td= process_trace.name
        %td.right-align= number_with_delimiter(process_trace.socket_traces_count, delimiter: '.')
        %td.right-align= number_with_delimiter(process_trace.events_count, delimiter: '.')
        %td.right-align= link_to('Show', process_trace_path(process_trace)) 

  %h5 Details
  .row
    .col.s12
      = show_property_xl("App version", @app_trace.app_version)
      = show_property("Kernel", @app_trace.kernel)
      = show_property("Processor", @app_trace.machine)
      = show_property_xl("Host uid", @app_trace.host_id)
      = show_property_xl("Tcpsnich version", @app_trace.version)
      = show_property_xl("Tcpsnitch git hash", @app_trace.git_hash)
      = show_property_xl("Opt b", @app_trace.opt_b)
      = show_property_xl("Opt f", @app_trace.opt_f)
      = show_property_xl("Opt u", @app_trace.opt_u)
  %p
    = link_to @app_trace.archive.url, class: 'waves-effect waves-light btn' do
      %i.material-icons.left play_for_work
      Download archive

= render 'shared/stats', trace: @app_trace
