- content_for :page_header_title, @socket_trace
- if @socket_trace.events_imported
  - content_for :page_header_text, @socket_trace.long_name
- content_for :left_menu, render('left_menu')

- content_for :main_header do
  %nav
    .nav-wrapper
      .col.s12
        = link_to 'Browse traces', app_traces_path, class: 'breadcrumb'
        = link_to "App trace #{@socket_trace.app_trace.id}", app_trace_path(@socket_trace.app_trace), class: 'breadcrumb'
        = link_to "Process trace #{@socket_trace.process_trace.id}", process_trace_path(@socket_trace.process_trace), class: 'breadcrumb'
        = link_to "Socket trace #{@socket_trace.id}", socket_trace_path(@socket_trace), class: 'breadcrumb'

- cache @socket_trace do
  .content-with-left-menu
    .section{data: {section: 'Overview'}}
      = render 'shared/overview_head', trace: @socket_trace
      = render 'shared/front_stats', analysable: @socket_trace

      .card
        .card-content
          %span.card-title Trace details
          .row
            .col.s6
              = show_property("Created at", @socket_trace.created_at.to_s(:long))
              = show_property("Socket type", @socket_trace.socket_type)
            .col.s6
              = show_property("#Events", number_with_delimiter(@socket_trace.events_count, delimiter: '.'))


    .section{data: {section: 'events'}}
      .infinite-list
        .events
          = render 'events/index'
        %p.pagination
          - unless @events.last_page?
            = link_to('Next page', socket_trace_events_path(@socket_trace, page: @events.next_page), remote: true, rel: 'next')
    = render 'shared/stats', stat_categories: @stat_categories, analysis: @analysis
