= content_for :page_header, 'List of traces'

%h3 Traces

= link_to 'New trace', new_trace_path

%table
  %tr
    %th
      Description
    %th
      Workload
    %th
      Processed
    %th
    %th
    %th
  - @traces.each do |trace|
    %tr
      %td= trace.description
      %td= trace.workload
      %td= trace.processed
      %td= link_to 'Download', trace.archive.url
      %td= link_to 'Show', trace_path(trace)
      %td= link_to 'Delete', trace_path(trace), method: :delete, data: { confirm: 'Are you sure?' }
