!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tcpsnitch
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav
        .logo
          = link_to 'Tcpsnitch', root_path
        .nav-wrapper
          %ul#nav-mobile.left
            %li= link_to 'Sockets API usage', root_path
            %li= link_to 'Browse traces', app_traces_path
            %li= link_to 'Upload trace', new_app_trace_path
            %li= link_to 'About', about_path 
      .banner 
        %h1
          - if content_for?(:page_header_title)
            = yield :page_header_title
          - else
            Tcpsnitch
        - if content_for?(:page_header_text)
          %h4
            = yield :page_header_text
    %main
      .filters
        .row
          .col.instruction.s2
            Filter traces
          %form.col.s10
            .row
              .input-field.col.s3
                %select{multiple: true}
                  %option{disabled_selected: true} All
                  %option{value: 'Darwin'} Darwin
                  %option Android
                  %option OS X
                %label
                  Operating system
              .input-field.col.s3
                %select{multiple: true}
                  %option{disabled_selected: true} All
                  %option Facebook 
                  %option Chrome 
                  %option Firefox 
                %label
                  Application
              .input-field.col.s3
                %select{multiple: true}
                  %option{disabled_selected: true} All
                  %option TCP 
                  %option UDP 
                %label
                  Sockets 
              .input-field.col.s3
                %select{multiple: true}
                  %option{disabled_selected: true} All
                  %option Wifi 
                  %option Ethernet
                  %option LTE 
                %label
                  Connectivity
      .main-wrapper
        .left-menu
          %ul.collapsible{data: {collapsible: 'expandable'}}>
            %li 
              %a.collapsible-header Nature of sockets 
              .collapsible-body
                %ul
                  %li Link1
                  %li Link2
                  %li Link3
            %li 
              %a.collapsible-header Functions usage 
              .collapsible-body
                %ul
                  %li Link1
                  %li Link2
                  %li Link3
            %li 
              %a.collapsible-header Usage patterns 
              .collapsible-body
                %ul
                  %li Link1
                  %li Link2
                  %li Link3
            %li 
              %a.collapsible-header Threads usage 
              .collapsible-body
                %ul
                  %li Link1
                  %li Link2
                  %li Link3
        .content
          .container
            .row 
              .section
                = yield
    %footer.page-footer
      .footer-main
        .row
          .col.l6.s12
            %h5.white-text Footer Content
            %p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
          .col.l4.offset-l2.s12
            %h5.white-text Links
            %ul
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} Link 1
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} Link 2
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} Link 3
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} Link 4
      .footer-copyright
        © 2014 Copyright Text
        %a.grey-text.text-lighten-4.right{:href => "#!"} More Links
