!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tcpsnitch
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav
        .logo
          = link_to 'Tcpsnitch', root_path
        .nav-wrapper
          %ul.left
            -# %li{class: active_on('pages', 'home')}= link_to 'Sockets API usage', root_path
            %li{class: ((params[:controller] == 'app_traces' && params[:action] != 'new') or params[:controller] == 'socket_traces') ? 'active' : ''}= link_to 'Browse traces', app_traces_path
            %li{class: active_on('app_traces', 'new')}= link_to 'Upload trace', new_app_trace_path
            -#%li{class: active_on('pages', 'about')}= link_to 'About', about_path 
      .banner 
        %h1
          - if content_for?(:page_header_title)
            = yield :page_header_title
          - else
            Tcpsnitch
        - if content_for?(:page_header_text)
          %h4
            = yield :page_header_text
    %main
      - if content_for?(:main_header)
        .main-header
          = yield :main_header
      .main-body
        - if content_for?(:left_menu)
          .left-menu
            = yield :left_menu 
        .content
          .container
            .row
              .section
                - flash.each do |type, msg|
                  = render 'layouts/flash', type: type, msg: msg
                = yield
    %footer.page-footer
      .footer-main.white-text
        .row
          .col.l6.s12
            %h5.white-text Support
            Contact us on 
            = link_to 'Gitter,', ' https://gitter.im/Tcpsnitch/Lobby'
            or create an
            = link_to 'issue on Github',  'https://github.com/GregoryVds/tcpsnitch_web/issues'
          .col.l4.offset-l2.s12
            %h5.white-text Open-source
            %ul
              %li
                Record traces with
                = link_to 'Tcpsnitch', 'https://github.com/GregoryVds/tcpsnitch'
              %li
                Visualize traces with
                = link_to 'Tcpsnitch Web', 'https://github.com/GregoryVds/tcpsnitch_web'
              -#%li
                -#Analyze traces with
                -#= link_to 'Tcpsnitch Analyzer', 'https://github.com/GregoryVds/tcpsnitch_analyzer'
      .footer-copyright
        © 2017 Université catholique de Louvain
        // %a.grey-text.text-lighten-4.right{:href => "#!"} More Links
